<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      
      
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="UserDB" value="desarrollador2"/>
    <add key="Password" value="@desit39"/>
    <add key="DB" value="lys"/>
    <add key="Server" value="ibserver_29"/>
  </appSettings>
</configuration>